.mainSection .main-section-inner {
    padding: 8px 0 0 0;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding-bottom: 8px;
}
.tabContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 1px solid #EAEAEA;
    align-self: stretch;
    padding-bottom: 10px;

}
.tabContainer .tabItem:first-child {
    padding-left: 16px;
}
.tabContainer .tabItem {
    color: #202020;
    font-weight: 500;
    height: 50px;
    padding: 0 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: 1.2;
}

.tabContainer .tabItem .selected {
    border-bottom: 1px solid #E84E40;
}
